# Auto detect text files and perform LF normalization
* text=Auto

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# Declare .env files to always have LF line endings on checkout.
*.env text eol=lf

# Declare db.sqlite3 file as binary to prevent modifications.
db.sqlite3 binary