{% load static %}
<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %} EShopper - Bootstrap Shop Template {% endblock %}
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content={% block keywords %}"Django Chat App"{% endblock %}
    name="keywords">
    <!---->
    <meta content={% block description %}"Django Chat App"{% endblock %}
    name="description">

    <link href="{% static './css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="chatPage">
      <!-- Header Start -->
      {% include 'chat/components/header.html' %}
      <!-- Header End -->

      {% block body %} {% endblock %}
    </div>

    {% if first_user == request.user %}
    <!---->
    {{ first_user.username|json_script:"user" }}
    <script>
      console.log("You are the first user");
    </script>
    <!---->
    {% else %}
    <!---->
    {{ second_user.username|json_script:"user" }}
    <script>
      console.log("You are the second user");
    </script>
    <!---->
    {% endif %}
    <!---->

    {{ room_name|json_script:"room-name" }}
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
