{% load static %}
<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %} EShopper - Bootstrap Shop Template {% endblock %}
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content={% block keywords %}"Free HTML Templates"{% endblock %}
    name="keywords"> <meta content={% block description %}"Free HTML
    Templates"{% endblock %} name="description">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static '/css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="chatPage">
      <!-- Header Start -->
      {% include 'chat/components/header.html' %}
      <!-- Header End -->

      {% block body %} İndex {% endblock %}
    </div>

    <!-- JavaScript Libraries -->

    {% if first_user == request.user %}
    <!---->
    {{ second_user.username|json_script:"user" }}
    <script>
      console.log("True");
    </script>
    <!---->
    {% else %}
    <!---->
    {{ first_user.username|json_script:"user" }}
    <script>
      console.log("False");
    </script>
    <!---->
    {% endif %}
    <!---->

    {{ room_name|json_script:"room-name" }}
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
