{% load static %}
<header>
  {# İleri Geri Tuşu #}
  <div class="arrows">
    <div class="back">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="24"
        viewBox="0 0 22 30"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M3.37885 14.1409L13.75 7.30533L16.3423 9.01391L7.26735 14.9952L16.3423 20.9764L13.75 22.685L3.37885 15.8495C3.03515 15.6229 2.84207 15.3156 2.84207 14.9952C2.84207 14.6748 3.03515 14.3675 3.37885 14.1409Z"
          fill="white"
        />
      </svg>
    </div>
    <div class="forward">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="24"
        viewBox="0 0 22 30"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M18.6212 15.8591L8.24999 22.6947L5.65765 20.9861L14.7327 15.0048L5.65765 9.02359L8.24999 7.315L18.6212 14.1505C18.9648 14.3771 19.1579 14.6844 19.1579 15.0048C19.1579 15.3252 18.9648 15.6325 18.6212 15.8591Z"
          fill="#BFB6B6"
        />
      </svg>
    </div>
  </div>
  {# Arama Yeri #}
  <div class="searchBar">
    <div class="searchArea">
      <input type="search" placeholder="Search" />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M14.76 13.27L20.49 19L19 20.49L13.27 14.76C12.2 15.53 10.91 16 9.5 16C5.91 16 3 13.09 3 9.5C3 5.91 5.91 3 9.5 3C13.09 3 16 5.91 16 9.5C16 10.91 15.53 12.2 14.76 13.27ZM9.5 5C7.01 5 5 7.01 5 9.5C5 11.99 7.01 14 9.5 14C11.99 14 14 11.99 14 9.5C14 7.01 11.99 5 9.5 5Z"
          fill="#CAC4D0"
        />
      </svg>
    </div>
  </div>

  {# Profil ve Sunucu Nav Yeri #}

  <div class="tabGroup">
    <nav class="server">
      <div class="state-layer">
        <div class="content">Servers</div>
      </div>
    </nav>
    <nav class="profile dropdown">
      <div class="state-layer">
        <div class="content">
          <div class="avatar">A</div>
          <div class="lang">{{ username }}</div>
        </div>
      </div>
      <div class="dropdown-content">
        <a href="">Logout </a>
        {% comment %} {% url 'logout' %} {% endcomment %}
      </div>
    </nav>
  </div>
</header>
