{% load static %} {% for message in messages %}
<!-- -->
{% if message.user == request.user %}
<div class="mySelf">
  <a
    class="content"
    href="{% url 'room' room_name=message.room.id %}#message-{{ message.id }}"
  >
    <div class="headline">{{message.user}}</div>
    <div class="message tooltip" id="chatLog">
      <span class="tooltiptext">{{message.created_at}}</span>
      {{message.content}}
    </div>
  </a>
  <div class="avatar">A</div>
</div>
{% else %}
<div class="oldMessages">
  <div class="avatar">A</div>
  <a
    class="content"
    href="{% url 'room' room_name=message.room.id %}#message-{{ message.id }}"
  >
    <div class="headline">{{message.user}}</div>
    <div class="message tooltip" id="chatLog">
      {{message.content}}
      <span class="tooltiptext">{{message.created_at}}</span>
    </div>
  </a>
</div>

{% endif %} {% endfor %}
